/* Los Studios Inc. */

  /* For phones */

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

/* Tabletille */

@media only screen and (min-width: 480px) {
  header {
    padding-bottom: 0.5em;
  }
  .main-nav li {
    display: inline-block;
    float: none;
    padding: 3px 1em;
    width: 24%;
  }
  .main-nav li a {
    text-decoration: none;
  }
}

/* Tietokoneen näytölle */

@media only screen and (min-width: 760px) {
  header {
    padding-bottom: 0.5em;
  }
  .main-nav li {
    display: inline-block;
    float: none;
    padding: 3px 1em;
    width: auto;
  }
  .main-nav li a {
    text-decoration: none;
  }
}

.main-nav li {
  border: 1px solid #666;
  background-color: rgba(30, 35, 40, 0.80);
  padding: 3px 1em;
  margin: 3px 0 0;
  text-decoration: none;
  font-size: 1.1em;
}

.main-nav li.active a {
  text-shadow: 1.25px 1.25px #ff2020;
}

body {
  background-image: url("../images/wall_4k.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1200px;
  margin: auto;
  border: 0;
  padding: 1em 1em;
  font-size: 100%;
  font: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

header {
  font-family: 'Trade Winds', cursive;
}

div {
  background-color: rgba(30, 35, 40, 0.80);
}

.feedback {
  background-color: rgba(30, 35, 40, 0);
  margin: 3em 0;
}

img {
  max-width: 300px;
  max-height: auto;
}

a {
  color: #ffffff;
  font-size: 1.1em;
}

h1 {
  font-size: 1.85em;
  font-weight: bold;
}

h2 {
  font-family: 'Trade Winds', cursive;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-size: 1.1em;
}

.map {
  list-style-type: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
}

.contact {
  padding: 0;
}
.contact li {
  list-style-type: none;
  display: inline-block;
  padding: 1em 1em;
  vertical-align: top;
}
.contact p.mugshotname {
  font-size: 16px;
  font-family: monospace;
  background-color: rgba(00, 00, 00, 1);
  padding: 3px;
  border: 3px solid #ffffff;
  margin: 0;
  max-width: 180px;
  position: relative;
  top: -100px;
  left: 54px;
}

footer {
  background-color: rgba(30, 35, 40, 0.80);
  bottom: 0.5em;
  max-width: inherit;
  margin-top: 1em;
  padding: 0.5em;
  color: white;
}
